.main__h1{
	font-size: 25px;
	font-family: 'Concert one', cursive;
   font-weight: bold;
   text-align: center;
   padding:40px;
}

.main__h2{
    font-size: 40px;
	font-family: 'Concert one', cursive;
	font-weight: bold;
 	text-align: center;
 	padding: 40px;
}

.main__p{
    color: #000000;
	font-family: 'Concert One';
	padding: 20px;
	letter-spacing: 5px;
	font-weight: bold;
	font-size: 20px;
}


.main__titulos{
	font-size: 40px;
	font-weight: bold;
	font-family: 'Concert one', cursive;
    padding: 10px;

}

.main__videos{
	text-align: center;
	  padding: 50px;
  }

  .main__imgCarrito{
	  display: block;
	  margin: auto;
	  padding-top: 50px;
	  max-width: 100%;
}


    